*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
 
body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(35deg, #ccffff, #ffcccc, rgb(204, 204, 255));
}

.wrapper {
   margin: 120px auto; 
   max-width: 400px;
   width: 100%;
   background-color: #fff;
   border-radius: 5px;
   padding: 25px;
}

.wrapper .header {
    
}